html
    body 
        table 
            thead
                tr 
                    th Id
                    th Title 
                    th Price 
                    th Thumbnail 
            tbody
            if(noProducts)
                tr 
                    td(colspan="4") No hay datos disponibles
            
            each val in datos
                tr
                    th=val.id 
                    th=val.title 
                    th=val.price 
                    th
                        img(src=val.thumbnail)
        br
        a(href="/")
            button Ir al formulario 