<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope=" "col>ID</th>
                <th scope=" "col>Title</th>
                <th scope=" "col>Price</th>
                <th scope=" "col>Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            <% if(datos.length === 0) { %>
                <tr>
                    <td colspan="4">No hay datos</td>
                </tr>
            <%} else { %>
    
            <% for (let i = 0; i < datos.length; i++) { %>
                <tr>
                    <td><%=datos[i].id%></td>
                    <td><%=datos[i].title%></td>
                    <td><%=datos[i].price%></td>
                    <td><img src="<%=datos[i].thumbnail%>"></td>
                </tr>
            <% } } %>
        </tbody>
    </table>
    <br>
    <a href="/">
        <button>Go to form</button>
    </a>
</body>
</html>