<h1>Please enter your username</h1>
<form action="/login" method="POST">
    <label for="user">Username</label>
    <input type="text" name="user" id="user"/>
    <button type="submit" value="Enviar">Submit</button>
</form>
